<h1><%= @header %></h1>

<form class="" action="/translation" method="post">Enter a word here that you'd like translated<br>
  <input type="input" name="words" value="" class="input" placeholder="type word">
  <button type="submit" value="submit">Submit word</button>
</form>
