<h1>New Dino</h1>

<form action="/dinos" method="post">

    <label for="dino_description">Description</label>
    <input type="text" name="dino[description]" id="dino_description">

    <label for="dino_name">Name</label>
    <input type="text" name="dino[name]" id="dino_name">

    <label for="dino_age">Age</label>
    <input type="text" name="dino[age]" id="dino_age">

    <label for="dino_species">Species</label>
    <input type="text" name="dino[species]" id="dino_species">

    <label for="dino_image">Image</label>
    <input type="text" name="dino[image]" id="dino_image">

    <label for="dino_single">Single?</label>
    <input type="text" name="dino[single]" id="dino_single">

    <label for="dino_likes">Likes</label>
    <input type="text" name="dino[likes]" id="dino_likes">

      <button>Submit</button>
</form>
