<h1>Edit Quote</h1>
<form action="/quotes/<%= quote.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="quote_details">Quote</label>
  <input type="text" name="quote[details]" id="quote_details" class="form-control" value="<%= quote.details %>">
</div>
<div class="form-group">
  <label for="quote_author">author</label>
  <input type="text" name="quote[author]" id="quote_author" class="form-control" value="<%= quote.author %>">
</div>

  <button class="btn btn-primary" type="submit" value="Update">Update</button>
</form>
