<h1>Add Quote</h1>
<form method="post" action="/quotes">

  <label for="quote_name">Name</label>
  <input type="text" name="quote[name]" id="quote_name">

  <label for="quote_author">Author</label>
  <input type="text" name="quote[author]" id="quote_author">


  <input class="btn" type="submit" value="Add">

  <button class="btn btn-primary">Create New</button>
</form>
