<main>
  <h1>Quotes</h1>
  <% for(var i=0; i<quotes.length; i++) { %>

    <div>
      <h2><%= quotes[i]['quote'] %></h2></li>
      <p><strong>author:</strong> <%= quotes[i]['author'] %></p>
      <a class="btn" href="/quotes/<%= quotes[i].id %>/edit">Edit</a>
      <form method="post" action="/quotes/<%= quotes[i].id %>">
        <input type="hidden" name="_method" value="delete">
        <input class="btn" type="submit" value="Delete">
      </form>
    </div>
  <% } %>
  </ul>
</main>
