<h1>New Quote</h1>

<form action="/quotes" method="post">
    <label for="quote_content">Content</label>
    <input type="text" name="quote[content]" id="quote_content">
    <label for="quote_cite">Cite</label>
    <input type="text" name="quote[cite]" id="quote_cite">
    <input type="submit" value="Add">
</form>
