<h1>Donald Trump</h1>

<h3>Key information about the republican candidate</h3>
<img src="http://louisvillerealtygroup.com/wp-content/uploads/2016/06/americanflag-1qe9980.jpg">

  <div class="row">
    <%# <div class="col-md-6 col-sm-6">%>
      <div class="card">
        <img class="card-img-top" src="http://bit.ly/2dvrY4x" alt="donald">
        <div class="card-block">
          <h4 class="card-title">Trump you Chump!</h4>
          <p class="card-text">Trump's political positions, and his descriptions of his beliefs, have frequently changed and often been vague or contradictory. Politico has described his positions as "eclectic, improvisational and often contradictory." As of late September 2016, NBC News identified 117 reversals or other "distinct policy shifts" on twenty major issues that Trump has made since announcing his presidential campaign. In July 2016, PolitiFact counted 17 times when Trump said one thing and then denied having said it.</p>
          <a href="#" class="btn btn-primary">Wikipedia</a>
        </div>
      </div>
    </div>
