<h1>Hilary Clinton</h1>

<h3>Key information about the Democrat candidate</h3>

<div class="row">
  <%# <div class="col-md-6 col-sm-6">%>
    <div class="card">
      <img class="card-img-top" src="https://skepchick.org/wp-content/uploads/2016/02/150412-hillary-clinton.jpg" alt="hilary">
      <div class="card-block">
        <h4 class="card-title">Hilary - she's probably a better option!</h4>
        <p class="card-text">
1. Born Hillary Diane Rodham on Oct. 26, 1947, in Chicago to Hugh E. Rodham, who owned a drapery making business, and Dorothy Howell Rodham, a full-time homemaker. Her parents were Republicans.<br>
2. When she was 12 years old, she wrote to the National Aeronautics and Space Administration, asking how she could become an astronaut. She received a reply saying that NASA didn't accept women in the astronaut program. Her mother comforted her by saying that her eyesight was much too bad anyway.<br>
3. While at Wellesley College in Massachusetts, she became head of the local chapter of the Young Republicans. While there she slowly turned leftward in her politics, campaigning for Eugene McCarthy for president, organizing the school's first teach-ins on the Vietnam War. She wrote her senior thesis on poverty and community development. She graduated in 1969 with a degree in political science.<br>
4. She appeared as a contestant on the television quiz show College Bowl.<br>
5. In 1969, she appeared in Life magazine after giving the first commencement speech by a student at Wellesley. She received a standing ovation after shocking the audience by criticizing the first speaker, Sen. Edward W. Brooke.<br>
6. In the summer of 1970, she heard Marian Wright Edelman speak, inspiring her to volunteer to work for Edelman's Washington Research Project, which later became the Children's Defense Fund. While there, she interviewed the families of migrant laborers and reported her findings to Walter Mondale's Senate subcommittee. This began a lifelong friendship and commitment to children's issues.<br>
7. While at Yale in Connecticut, she first noticed Bill Clinton while he was trying to convince a group of classmates that they didn't need shots to visit Arkansas. He boasted that Arkansas "has the biggest watermelons in the world." They first met in the law library after Hillary approached Bill and said, "Look, if you're going to keep staring at me, and I'm going to keep staring back, I think we should at least know each other. I'm Hillary Rodham. What's your name?"<br>
8. In 1974, she went to Washington, D.C., as one of only three women out of 43 lawyers to work on the inquiry into the possible impeachment of President Richard Nixon.<br>
9. When Hillary Rodham and Bill Clinton were wed on Oct. 11, 1975, she kept her maiden name, not realizing it would become a controversial decision. After her husband's defeat for re-election in the 1980 Arkansas gubernatorial election, she changed her surname to Clinton. Voters had questioned their marriage's stability.<br>
10. In 1977, she joined the Rose Law Firm in Little Rock. After her husband's successful gubernatorial bid in 1978, she continued working at the firm, becoming Arkansas's first professional first lady. In 1980, she became the firm's first female partner. In addition, she gave birth to their daughter, Chelsea Victoria Clinton, who was named for Joni Mitchell's song "Chelsea Morning."<br>
</p>
<a href="#" class="btn btn-primary">Wikipedia</a>
</div>
</div>
</div>
