<h1>Hillary Clinton</h1>

<h3>Key information about the Democrat candidate</h3>
<img src="http://louisvillerealtygroup.com/wp-content/uploads/2016/06/americanflag-1qe9980.jpg">


<div class="row">
  <%# <div class="col-md-6 col-sm-6">%>
    <div class="card">
      <img class="card-img-top" src="https://skepchick.org/wp-content/uploads/2016/02/150412-hillary-clinton.jpg" alt="hilary">
      <div class="card-block">
        <h4 class="card-title">Hillary - she's probably a better option!</h4>
        <p class="card-text">
Born Hillary Diane Rodham on Oct. 26, 1947, in Chicago to Hugh E. Rodham, who owned a drapery making business, and Dorothy Howell Rodham, a full-time homemaker. Her parents were Republicans.<br>
Hillary believes that we're stronger together—and that America does best when the economy works for everyone, not just those at the top. She believes in an America where everyone counts and everyone has a role to play in building our future.
</p>
<a href="#" class="btn btn-primary">Wikipedia</a>
</div>
</div>
</div>
