
<h1>US Election 2016 - all you need to know</h1>


  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img class="card-img-top" src="https://i.ytimg.com/vi/1FRcBiY4sc0/maxresdefault.jpg" alt="Barack-Obama">
        <div class="card-block">
          <h4 class="card-title">The Incumbent</h4>
          <p class="card-text">Born on August 4, 1961, in Honolulu, Hawaii, Barack Obama is the 44th and current president of the United States. He was a community organizer, civil-rights lawyer and teacher before pursuing a political career. He was elected to the Illinois State Senate in 1996 and to the U.S. Senate in 2004</p>
          <a href="#" class="btn btn-primary">Wikipedia</a>
        </div>
      </div>
    </div>

        <div class="col-md-8 col-sm-6">
          <div class="card">
            <img class="card-img-top" src="/images/us_election.png" alt="Election">
            <div class="card-block">
              <h4 class="card-title">How does it work?</h4>
              <p class="card-text">
                In January 2017, the most powerful nation on earth will have a new leader, after a drawn out and expensive campaign - but how does a US presidential election work?
                When the US picks its president, it is not only choosing a head of state but a head of government and a commander-in-chief of the largest military on the planet.
                It's a big responsibility. So how does the process work?
                Who can be president?
                Technically, to run for president, you only need to be "a natural born" US citizen, at least 35 years old, and have been a resident for 14 years. Sounds easy, right?
                In reality, however, nearly every president since 1933 has been a governor, senator, or five-star military general. And that's before you even consider getting a party nomination and securing national media attention.
                In this 2016 election, at one stage there were 10 governors or former governors and 10 who are or were senators, although many have since dropped out.
                One person is nominated to represent the Republican and Democratic parties in the presidential election.
              </p>
            
            </div>
          </div>
        </div>
