main {
  padding-top: 30px;
}
/*.card img main-img {
  width: 50%;
}*/
.card img {
  width: 100%;
}
body {
    background-color: lightgrey;
}
h1, h3 {
  padding: 15px 0px;
}
img {
  width: 15%;
  padding: 5px;
  margin-bottom: 10px;

}
